@media screen and (min-width: 500px) {
    #first,#last,#next,#previous {
        text-indent: -9999px;
        line-height: 0;
    }

    #first::after {
        content: "První";
        text-indent: 0;
        display: block;
        line-height: initial;
    }

    #last::after {
        content: "Poslední";
        text-indent: 0;
        display: block;
        line-height: initial;
    }

    #previous::after {
        content: "Předchozí";
        text-indent: 0;
        display: block;
        line-height: initial;
    }

    #next::after {
        content: "Následující";
        text-indent: 0;
        display: block;
        line-height: initial;
    }

    .btn-primary {
        width: 6em;
    }
}