<form  #formRef="ngForm" *ngIf="insuranceCar !=null">
    <div class="form-group">
        <label for="start">Počátek pojištění:</label>
        <input [ngModel]="insuranceCar.start | date:'dd.MM.yyyy'" (ngModelChange)="onChangeDate($event)" 
        [ngModelOptions]="{ updateOn: 'blur' }" placeholder="Datum" class="form-control" id="start" 
        #start="ngModel" name="start"/>
        <small *ngIf="start.invalid && start.touched" class="text-danger">
            Napište platný datum
        </small>
    </div>

    <div class="form-group">
        <label for="brand">Značka:</label>
        <input minlength="3" required [(ngModel)]="insuranceCar.brand" type="text" class="form-control" id="brand"
            placeholder="Tovární značka vozu" #brand="ngModel" name="brand" />
        <small *ngIf="brand.invalid && brand.touched" class="text-danger">
            Napište jméno alespoň 3 znaky dlouhé
        </small>
    </div>

    <div class="form-group">
        <label for="brand">Registracni značka:</label>
        <input minlength="7" required [(ngModel)]="insuranceCar.registrationMark" type="text" class="form-control" id="registrationMark"
            placeholder="Registrační značka vozu nebo číslo karoserie" #registrationMark="ngModel" name="registrationMark" />
        <small *ngIf="registrationMark.invalid && registrationMark.touched" class="text-danger">
            Registrační značka se skládá z minimálně 7 znaků
        </small>
    </div>

    <div class="form-group">
        <label for="enginePower">Objem válců motoru:</label>
        <input minlength="3" required [(ngModel)]="insuranceCar.enginePower" type="number" class="form-control" id="enginePower"
            placeholder="Objem válců motoru" #enginePower="ngModel" name="enginePower" />
        <small *ngIf="enginePower.invalid && enginePower.touched" class="text-danger">
            Napište objem válců motoru v ccm3
        </small>
    </div>

</form>
