<div class="container">
    <div class="row">
        <p class="col-6" *ngIf="client != null">
            {{client.firstName}} {{client.lastName}}<br>
            {{client.street}} {{client.houseNumber}}
            <span *ngIf="client.registryNumber != null">
                <span *ngIf="client.registryNumber.length>0">,
                    {{client.registryNumber}}
                </span>
            </span><br>
            {{client.zip}} {{client.city}}
        </p>
        <p class="col-6">
            Uzavřených ručení: {{insuranceCars.length}}
        </p>
    </div>
    <div *ngFor="let insuranceCar of insuranceCars" class="border m-1 columns-view">
        <div class="row">
            <div class="col-6">
                <strong>Číslo poj.</strong>
            </div>
            <div class="col-6">
                {{insuranceCar.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Registrační značka</strong>
            </div>
            <div class="col-6">
                {{insuranceCar.registrationMark}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Tovární značka</strong>
            </div>
            <div class="col-6">
                {{insuranceCar.brand}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Obejm válců</strong>
            </div>
            <div class="col-6">
                {{insuranceCar.enginePower}} ccm<sup>3</sup>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong>Pojistné</strong>
            </div>
            <div class="col-6">
                {{insuranceCar.cost}} kč
            </div>
        </div>
    </div>


    <table class="table">
        <tr>
            <th>Číslo. poj</th>
            <th>Registrační značka</th>
            <th>Tovární značka</th>
            <th>Objem válců</th>
            <th>Pojistné</th>
        </tr>

        <tr *ngFor="let insuranceCar of insuranceCars">
            <td>{{insuranceCar.id}}</td>
            <td>{{insuranceCar.registrationMark}}</td>
            <td>{{insuranceCar.brand}}</td>
            <td>{{insuranceCar.enginePower}} ccm<sup>3</sup></td>
            <td>{{insuranceCar.cost}} kč</td>
        </tr>

    </table>
</div>